@font-face {
  font-display: swap;
  font-family: "helveticaneuecyrmedium";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/helveticaneuecyr-medium-webfont.woff2") format("woff2");
  src: url("../fonts/helveticaneuecyr-medium-webfont.woff") format("woff"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 13px; }
  @media (max-width: 1199px) {
    html {
      font-size: 12px; } }
  @media (max-width: 991px) {
    html {
      font-size: 11px; } }
  @media (max-width: 767px) {
    html {
      font-size: 10px; } }
  @media (max-width: 575px) {
    html {
      font-size: 9px; } }

body {
  background: url(../images/background.png) no-repeat fixed;
  background-size: 50vw 100%;
  color: #8d8da5;
  font: 400 1rem "Poppins", sans-serif; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit;
  outline: none; }

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
  resize: none; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1770px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1199px) {
    .container {
      max-width: 1416px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 1062px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 796px; } }
  @media (max-width: 575px) {
    .container {
      max-width: 100%; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: "none";
  padding-left: 15px;
  padding-right: 15px; }

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important; }

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important; }

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important; }

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important; }

.flex-fill {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important; }

.flex-grow-0 {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important; }

.flex-grow-1 {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important; }

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important; }

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
      flex-shrink: 1 !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important; }

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important; }

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important; }

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

.align-items-baseline {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important; }

.align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important; }

.align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important; }

.align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important; }

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important; }

.align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important; }

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important; }

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important; }

@media (max-width: 1199px) {
  .flex-xl-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-xl-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-xl-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .flex-xl-fill {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important; }
  .flex-xl-grow-0 {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; }
  .flex-xl-grow-1 {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; }
  .justify-content-xl-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-xl-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-xl-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-xl-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-xl-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-xl-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-xl-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-xl-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-xl-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

@media (max-width: 991px) {
  .flex-lg-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-lg-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-lg-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .flex-lg-fill {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important; }
  .flex-lg-grow-0 {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; }
  .flex-lg-grow-1 {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; }
  .justify-content-lg-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-lg-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-lg-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-lg-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-lg-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-lg-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-lg-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-lg-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-lg-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

@media (max-width: 767px) {
  .flex-md-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-md-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-md-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .flex-md-fill {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important; }
  .flex-md-grow-0 {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; }
  .flex-md-grow-1 {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; }
  .justify-content-md-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-md-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-md-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-md-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-md-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-md-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-md-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-md-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-md-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

@media (max-width: 575px) {
  .flex-sm-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-sm-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-sm-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .flex-sm-fill {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important; }
  .flex-sm-grow-0 {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; }
  .flex-sm-grow-1 {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; }
  .justify-content-sm-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-sm-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-sm-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-sm-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-sm-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-sm-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-sm-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-sm-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-sm-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

.row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px; }

.col {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%; }

.col-1 {
  max-width: 8.33333%; }

.col-2 {
  max-width: 16.66667%; }

.col-3 {
  max-width: 25%; }

.col-4 {
  max-width: 33.33333%; }

.col-5 {
  max-width: 41.66667%; }

.col-6 {
  max-width: 50%; }

.col-7 {
  max-width: 58.33333%; }

.col-8 {
  max-width: 66.66667%; }

.col-9 {
  max-width: 75%; }

.col-10 {
  max-width: 83.33333%; }

.col-11 {
  max-width: 91.66667%; }

.col-12 {
  max-width: 100%; }

@media (max-width: 1199px) {
  .col-xl-1 {
    max-width: 8.33333%; }
  .col-xl-2 {
    max-width: 16.66667%; }
  .col-xl-3 {
    max-width: 25%; }
  .col-xl-4 {
    max-width: 33.33333%; }
  .col-xl-5 {
    max-width: 41.66667%; }
  .col-xl-6 {
    max-width: 50%; }
  .col-xl-7 {
    max-width: 58.33333%; }
  .col-xl-8 {
    max-width: 66.66667%; }
  .col-xl-9 {
    max-width: 75%; }
  .col-xl-10 {
    max-width: 83.33333%; }
  .col-xl-11 {
    max-width: 91.66667%; }
  .col-xl-12 {
    max-width: 100%; } }

@media (max-width: 991px) {
  .col-lg-1 {
    max-width: 8.33333%; }
  .col-lg-2 {
    max-width: 16.66667%; }
  .col-lg-3 {
    max-width: 25%; }
  .col-lg-4 {
    max-width: 33.33333%; }
  .col-lg-5 {
    max-width: 41.66667%; }
  .col-lg-6 {
    max-width: 50%; }
  .col-lg-7 {
    max-width: 58.33333%; }
  .col-lg-8 {
    max-width: 66.66667%; }
  .col-lg-9 {
    max-width: 75%; }
  .col-lg-10 {
    max-width: 83.33333%; }
  .col-lg-11 {
    max-width: 91.66667%; }
  .col-lg-12 {
    max-width: 100%; } }

@media (max-width: 767px) {
  .col-md-1 {
    max-width: 8.33333%; }
  .col-md-2 {
    max-width: 16.66667%; }
  .col-md-3 {
    max-width: 25%; }
  .col-md-4 {
    max-width: 33.33333%; }
  .col-md-5 {
    max-width: 41.66667%; }
  .col-md-6 {
    max-width: 50%; }
  .col-md-7 {
    max-width: 58.33333%; }
  .col-md-8 {
    max-width: 66.66667%; }
  .col-md-9 {
    max-width: 75%; }
  .col-md-10 {
    max-width: 83.33333%; }
  .col-md-11 {
    max-width: 91.66667%; }
  .col-md-12 {
    max-width: 100%; } }

@media (max-width: 575px) {
  .col-sm-1 {
    max-width: 8.33333%; }
  .col-sm-2 {
    max-width: 16.66667%; }
  .col-sm-3 {
    max-width: 25%; }
  .col-sm-4 {
    max-width: 33.33333%; }
  .col-sm-5 {
    max-width: 41.66667%; }
  .col-sm-6 {
    max-width: 50%; }
  .col-sm-7 {
    max-width: 58.33333%; }
  .col-sm-8 {
    max-width: 66.66667%; }
  .col-sm-9 {
    max-width: 75%; }
  .col-sm-10 {
    max-width: 83.33333%; }
  .col-sm-11 {
    max-width: 91.66667%; }
  .col-sm-12 {
    max-width: 100%; } }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 1199px) {
  .d-xl-none {
    display: none; }
  .d-xl-inline {
    display: inline; }
  .d-xl-block {
    display: block; }
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 991px) {
  .d-lg-none {
    display: none; }
  .d-lg-inline {
    display: inline; }
  .d-lg-block {
    display: block; }
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .d-md-none {
    display: none; }
  .d-md-inline {
    display: inline; }
  .d-md-block {
    display: block; }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 575px) {
  .d-sm-none {
    display: none; }
  .d-sm-inline {
    display: inline; }
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.margin-auto-x {
  margin-left: auto;
  margin-right: auto; }

.text-align-right {
  text-align: right; }

.header {
  margin-top: 90px; }
  .header__logo {
    font-family: "helveticaneuecyrmedium", sans-serif;
    text-transform: uppercase;
    font-size: 3.84rem;
    color: #ffffff; }
    .header__logo--red {
      color: #e2222d; }

.text__label {
  margin-bottom: 0.77rem;
  color: #181c32;
  font-weight: 500; }
  @media (max-width: 991px) {
    .text__label {
      font-size: 0.9rem; } }

.text__input {
  width: 100%;
  padding: 1.23rem;
  border: 1px solid #DBDFEB;
  border-radius: 0.62rem; }
  @media (max-width: 575px) {
    .text__input {
      padding: 0.6rem;
      font-size: 1rem; } }
  .text__input::-webkit-input-placeholder {
    font-size: 1rem;
    color: #8d8da5; }
  .text__input::-moz-placeholder {
    font-size: 1rem;
    color: #8d8da5; }
  .text__input:-ms-input-placeholder {
    font-size: 1rem;
    color: #8d8da5; }
  .text__input::-ms-input-placeholder {
    font-size: 1rem;
    color: #8d8da5; }
  .text__input::placeholder {
    font-size: 1rem;
    color: #8d8da5; }
    @media (max-width: 575px) {
      .text__input::-webkit-input-placeholder {
        font-size: 0.8rem; }
      .text__input::-moz-placeholder {
        font-size: 0.8rem; }
      .text__input:-ms-input-placeholder {
        font-size: 0.8rem; }
      .text__input::-ms-input-placeholder {
        font-size: 0.8rem; }
      .text__input::placeholder {
        font-size: 0.8rem; } }

.btn {
  cursor: pointer;
  display: block;
  font-family: "Poppins", sans-serif;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 10px; }
  .btn--submit {
    font-size: 1rem;
    padding: 1.38rem 5.65rem;
    background-color: #e2222d;
    color: #ffffff;
    margin-top: 3.77rem; }
    .btn--submit:hover {
      background-color: #d2006b; }
    @media (max-width: 767px) {
      .btn--submit {
        padding: 1rem 4.1rem; } }
    @media (max-width: 575px) {
      .btn--submit {
        padding: 1rem 1.87rem; } }

.info-block__title {
  color: #ffffff;
  font-size: 1.85rem;
  font-weight: 500; }
  @media (max-width: 575px) {
    .info-block__title {
      font-size: 1.5rem; } }

.info-block__paragraph {
  color: #ffffff;
  opacity: 0.8;
  max-width: 56.3rem;
  margin-top: 1.92rem;
  font-size: 1.23rem; }

.main-content {
  margin-top: 8.85rem; }

.form-block {
  margin-top: 7.9rem;
  margin-bottom: 1rem; }
  @media (max-width: 991px) {
    .form-block {
      margin-top: 4rem; } }
  @media (max-width: 767px) {
    .form-block {
      margin-top: 2.5rem; } }
  @media (max-width: 575px) {
    .form-block {
      margin-top: 1rem; } }
  .form-block__title {
    font-size: 2.77rem;
    font-weight: 500; }
    @media (max-width: 767px) {
      .form-block__title {
        font-size: 2rem; } }
    @media (max-width: 575px) {
      .form-block__title {
        font-size: 1.5rem; } }
  .form-block__forgot-pass-form {
    margin-top: 4.6rem; }
    @media (max-width: 767px) {
      .form-block__forgot-pass-form {
        margin-top: 3rem; } }
    @media (max-width: 575px) {
      .form-block__forgot-pass-form {
        margin-top: 2rem; } }

.forgot-pass-form__link {
  color: #181c32;
  text-decoration: underline;
  margin-top: 1.85rem;
  display: block;
  font-weight: 500; }

.forgot-pass-form__field + .forgot-pass-form__field {
  margin-top: 2.3rem; }
