.container {
  @include make-container();

  @each $name, $value in $grid-breakpoints {
    @include media-breakpoint($value) {
      max-width: map-get($container-max-width, $name);
    }
  }
}

.container-fluid {
  @include make-container('none');
}

#main {
  padding-top: 8.67rem;
}

.container--border {
  background: $bg-white;
  border: 3px solid $black;
  border-radius: 0.66rem;
}

.container--padding {
  padding: 1.5rem;
}
