* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  color: #212121;
  font: 400 14px/1 "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}

#header {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  padding: 20px 0;
  border-bottom: 2px solid #f5ad42;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header-nav {
  font-size: 16px;
  font-weight: 700;
}

.header-nav a {
  text-transform: capitalize;
}

.header-nav a + a {
  margin-left: 30px;
}

.header-nav a:hover {
  color: #f5ad42;
}

#main {
  padding-top: 130px;
}

.form-element {
  min-width: 500px;
  padding: 5px;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 5px;
}

.form-div + .form-div {
  margin-top: 10px;
}

.form-input_valid {
  border: 3px solid #28a745;
}

.form-input_invalid {
  border: 3px solid #dc3545;
}

.comment {
  resize: none;
}

.textarea-field * {
  vertical-align: top;
}

.form-section {
  padding: 10px;
  border: 1px solid #858585;
  background-color: #97d2fb;
  border-radius: 5px;
}

#myForm {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}

.btn:hover {
  background-color: #002fed;
}

.btn:active {
  background-color: #2f599e !important;
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}

.btn:disabled {
  background-color: #6c87b5;
  pointer-events: none;
}

.comments-section {
  margin-top: 30px;
}

.comment-section {
  padding: 10px;
  border: 1px solid #858585;
  background-color: #80ffe8;
  border-radius: 5px;
}

.comment-section {
  margin-bottom: 20px;
}

.paragraph-margin {
  margin-top: 20px;
}
